#app {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 10px;
  overflow-y: auto;
  width: 200px;
  opacity: 1;
  text-align: center;
  box-shadow: 4px 0px 0px 0px rgba(95, 95, 95, 0.75);
}

.content {
  position: absolute;
  left: 210px;
  top: 0;
  right: 0;
}